<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Голосование</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}
          <div class="error-message">{{ error_message }}</div>
          {% endif %}
          <div class="choice-group">
            {% for choice in question.choice_set.all %}
            <div class="choice-item">
              <input
                type="radio"
                name="choice"
                id="choice{{ forloop.counter }}"
                value="{{ choice.id }}"
              />
              <label for="choice{{ forloop.counter }}"
                >{{ choice.choice_text }}</label
              >
            </div>
            {% endfor %}
          </div>
        </fieldset>
        <button type="submit" class="btn">Проголосовать</button>
      </form>
    </div>
  </body>
</html>
